<div class="container">
  <form class="login">
    <fieldset>
      <h2>Login Form</h2>
      <p>
        <i class="fa fa-cloud"></i>
        <label for="username"></label>
        <input
          type="username"
          name="username"
          id="username"
          placeholder="krisi"
        />
      </p>

      <p>
        <label for="password"></label>
        <i class="fa fa-cloud"></i>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="*****"
        />
      </p>

      <button>Login</button>

      <p class="no-account">
        Don't have an account?
        <button>Register</button>
      </p>
    </fieldset>
  </form>
</div>
