/* form{
    width: 30%;
    text-align: center;
    margin: 10% auto;
}

fieldset{
    border: 1px solid black;
}

 */

 .login-container{
    border: 1px solid black;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
 }


 .forgot-label{
    margin-left: 90%;
    width: 100%;
    float: right;
 }