

<div class="all">

    <div class="login-container">
    <div [formGroup]="loginForm" class="login-content">
      <p class="title">Login</p>
      <p class="intro">Welcome back!</p>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="password">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="text" />
      </mat-form-field>

      <a class="forgot-label" routerLink="/forgot-password">Forgot Password</a>

      <p class="alternative">Don't have an account? <span>Sign Up</span></p>
      <button (click)="loginWithEmailAndPassword()">Login</button>

      <div class="divider">
        <p>Or</p>
      </div>
    </div>
  </div>

</div>