<div class="all" *ngIf="afs.authState | async as user">
  <div class="product" *ngFor="let item of products; let i = index">
    <div class="data" >
      <p class="name">{{ item.itemName }}</p>
      <p>{{item.itemPrice}}BGN</p>
      <button class="remove" (click)="removeItem(item)"><i class="fa fa-remove"></i>  Remove item</button>
    </div>
    
    <div class="image">
        <p class="num">{{ i + 1 }}.</p>
      <img [src]="item.itemImage" alt="" />
    </div>
    <p>{{item.itemID}}</p>
  </div>
  <div class="total">
    <p class="grandTotal">Total: {{grandTotal}}BGN</p>
  </div>
  <div class="buttons">
    
    <button class="empty" (click)="emptyCar()"><i class="fa fa-trash-o"></i>   Empty cart</button>
    <button class="continue" routerLink="/home"><i class="fa fa-shopping-cart"></i>  Continue Shopping</button>
    <button class="pay"><i class="fa fa-credit-card"></i>  Pay</button>
  </div>
</div>
