<header>
  <div class="upper-navbar-wrap">
    <div class="dropdown">
      <div class="logo-wrap">
        <p class="logo">*</p>
        <a routerLink="/home"><p class="site-name">KMarket</p></a>
      </div>
      <!-- <div class="dropdown-content">
              <a href="#">Home</a>
              <a routerLink="/home">Electronics</a>
              <a href="#">Sport</a>
              <a href="#">Clothes and Shoes</a>
              <a href="#">Children</a>
            </div> -->
    </div>

    <div class="mini-navbar">
      <!-- Not Logged In -->
      <div *ngIf="!isLoggedIn">
        <ul>
          <li><button routerLink="/login">Login</button></li>
          <li><button routerLink="/register">Register</button></li>
        </ul>
      </div>

      <!-- Logged In  -->
      <div class="user" *ngIf="isLoggedIn">
        <div *ngIf="fireAuth.authState | async as user">
          <ul>
            <li class="cart" routerLink="/cart/{{user.uid}}">
              <i class="fa fa-shopping-cart"></i>
            </li>
            <li><button routerLink="/profile">Profile</button></li>
            <button (click)="logout()">LogOut</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <nav>
    <ul>
      <li class="first-element">
        <a routerLink="/home">HOME</a>
      </li>
      <li class="second-element"><a routerLink="/men">MEN</a></li>
      <li class="third-element"><a routerLink="/women">WOMEN</a></li>
      <li class="fourth-element"><a routerLink="/home">KIDS</a></li>
    </ul>
  </nav>
</header>
