<header>
  <div class="upper-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo">*</p>
      <p class="site-name">KMarket</p>
    </div>
    <div class="mini-navbar">
        <!-- Not Logged In -->
      <ul>
        <li>Login</li>
        <li>Register</li>
      </ul>
      <!-- Logged In -->
      <!-- <ul>
        <li>Profile</li>
        <li>Logout</li>
      </ul> -->
    </div>
  </div>
  <!-- Navigation -->
  <nav>
    <ul>
        <li class="first-element"><a routerLink="">All Products</a></li>
        <li class="second-element"><a routerLink="">My Products</a></li>
        <li class="third-element"><a routerLink="">Create a Product</a></li>
    </ul>
  </nav>
</header>
