<div class="all">
  <div *ngIf="object | async as object">
    <div class="container">
      <p class="name">{{ object.itemName }}</p>
      <p class="gender">{{ object.itemGender }}</p>
      <p class="description">{{ object.description }}</p>
      <p class="price">Price: {{ object.itemPrice }}BGN</p>
      <p class="size">S M L</p>
      
        <div *ngIf="fireAuth.authState | async as user" class="auth">
          <button>
            <a class="cart" (click)="addToCart(object)">
              <span class="add-to-cart">
                <span class="txt"><a>Add in cart</a> </span>
              </span>
            </a>
          </button>
        </div>
        <!-- <div #elseBlock class="auth">
          <button><a class="cart">
            <span class="add-to-cart">
              <span class="txt"><a routerLink="/login">No cart</a></span>
            </span>
          </a></button>
          
        </div> -->
      
      <img [src]="object.itemImage" alt="" />
      <p class="id">ID: {{ object.itemID }}</p>
    </div>
  </div>
</div>
