<div class="all">
  
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    <p class="men-sign">BOYS</p>
  
  <div class="side-categories">
    <p><a>COATS | JACKETS</a></p>
    <p><a>T-SHIRTS</a></p>
    <p><a>SWEATSHIRTS | HOODIES</a></p>
    <p><a>SHIRTS | OVERSHIRTS</a></p>
    <p><a>KNITWEAR</a></p>
    <p><a routerLink="/kids/boys/shorts">SHORTS</a></p>
    <p><a>JEANS</a></p>
    <p><a>TROUSERS</a></p>
    <p><a>DUNGAREES</a></p>
    <p><a>BASICS</a></p>
    <p><a>TRACKSUIT</a></p>
    <p><a>SHOES</a></p>
    <p><a>BAGS | BACKPACKS</a></p>
    <p><a>COSTUMES</a></p>
    <p><a>UNDERWEAR | PYJAMAS</a></p>
    <p><a>ACCESSORIES | SWIMWEAR</a></p>


  </div>
  
  <ng-container *ngFor="let p of products | async">
    <div *ngIf="p.itemGender === 'KIDS'">
      <div *ngIf="p.itemYears === 'boys'">
        <div
        class="container"
        *ngIf="searchText === '' || p.itemName.toLowerCase().includes(searchText)"
      >
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" [src]="p.itemImage" alt="" />
                <div class="img-info">
                  <div class="info-inner">
                    <a routerLink="/men/{{ p.itemID }}"
                      ><span class="p-name">{{ p.itemName }}</span></a
                    >
  
                    <span class="p-company">{{ p.itemCategory }}</span>
                  </div>
                  <div class="a-size">
                    Available sizes : <span class="size">S , M , L , XL</span>
                  </div>
                </div>
              </div>
  
              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>
  
                <a class="cart" *ngIf="fireAuth.authState | async as user">
                  <a (click)="addToCart(p)">
                    <span class="price">{{ p.itemPrice }}BGN</span>
                    <span class="add-to-cart">
                      <span class="txt">Add in cart</span>
                    </span>
                  </a>
                </a>
                <div #elseBlock>
                  <a class="cart">
                    <span class="price">{{ p.itemPrice }}BGN</span>
                    <span class="add-to-cart">
                      <span class="txt"><a routerLink="/login">No cart</a></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      </div>
    </div>
  </ng-container>
  
  </div>

