<div class="container">
    <form class="register">
        <fieldset>
            <h2>Register Form</h2>

            <p>
                <i class="fa fa-cloud"></i>
                <label for="username"></label>
                <input
                  type="username"
                  name="username"
                  id="username"
                  placeholder="krisi"
                />
              </p>

              <p>
                <i class="fa fa-cloud"></i>
                <label for="phoneNumber"></label>
                <input
                  type="phoneNumber"
                  name="phoneNumber"
                  id="phoneNumber"
                  placeholder="09875567234"
                />
              </p>
        
              <p>
                <label for="password"></label>
                <i class="fa fa-cloud"></i>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="*****"
                />
              </p>
        
              <p>
                <label for="confirmPassword"></label>
                <i class="fa fa-cloud"></i>
                <input
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword"
                  placeholder="*****"
                />
              </p>

              <button (click)="registerWithEmailAndPassword()" >Register</button>

              <p>Already have an account?
                <button>Login</button>
              </p>
        </fieldset>
    </form>
</div>