<div class="all">
  <div class="register-container">
    <div [formGroup]="registerForm" class="register-content">
      <p class="title">Register to KMarket</p>

      <div class="email">
        <mat-form-field appearance="outline" [formGroup]="registerForm" >
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="username" />
        </mat-form-field>
        <div
          *ngIf="
          registerForm?.invalid &&
            (registerForm?.dirty || registerForm?.touched)
          "
        >
          <div *ngIf="registerForm?.errors?.['required']">
            Email is required!
          </div>
          <div *ngIf="registerForm?.errors?.['email']">
            Invalid email format!
          </div>
          
        </div>
        <form></form>
      </div>

      <div class="pass">
        <form [formGroup]="registerForm" >
          <mat-form-field appearance="outline" class="password">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Enter password"
            />
          </mat-form-field>
          <div *ngIf="registerForm?.hasError('required')">
            Password is required!
          </div>
          <div *ngIf="registerForm?.hasError('minLength')">
            Password must be at least 8 characters!
          </div>
          <div *ngIf="registerForm?.hasError('uppercase')">
            Password must contain an uppercase letter!
          </div>
          <div *ngIf="registerForm?.hasError('lowercase')">
            Password must contain a lowercase letter!
          </div>
          <div *ngIf="registerForm?.hasError('digit')">
            Password must contain a digit!
          </div>
          <div *ngIf="registerForm?.hasError('noSpaces')">
            Password must not contain spaces!
          </div>
          
        </form>
      </div>

      <div class="confPass">
        <form [formGroup]="registerForm" >
          <mat-form-field appearance="outline" class="confirm">
            <mat-label>Confirm Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="confirmPassword"
              placeholder="Enter password"
            />
          </mat-form-field>
          <div *ngIf="registerForm.hasError('passwordsMismatch') && (passwordControl?.dirty || confirmPasswordControl?.dirty)">
            Passwords do not match.
          </div>
          <div *ngIf="registerForm?.hasError('required')">
            Password is required!
          </div>
          <div *ngIf="registerForm?.hasError('minLength')">
            Password must be at least 8 characters!
          </div>
          <div *ngIf="registerForm?.hasError('uppercase')">
            Password must contain an uppercase letter!
          </div>
          <div *ngIf="registerForm?.hasError('lowercase')">
            Password must contain a lowercase letter!
          </div>
          <div *ngIf="registerForm?.hasError('digit')">
            Password must contain a digit!
          </div>
          <div *ngIf="registerForm?.hasError('noSpaces')">
            Password must not contain spaces!
          </div>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
      </div>

      <button (click)="registerWithEmailAndPassword()">Register</button>

      <div class="divider">
        <p>- OR -</p>
      </div>

      <button class="googleBtn" (click)="loginWithGoogle()">
        <i class="fa fa-google"></i>Login with Google
      </button>

      <p class="alternative">
        Already have an account? <a routerLink="/login">Login</a>
      </p>
    </div>
  </div>
</div>
