<!-- <div class="container">
  <form class="login" #form="ngForm">
    <fieldset>
      <h2>Login Form</h2>
      <p>
        <i class="fa fa-cloud"></i>
        <label for="email"></label>
        <input
        matInput
        [formControl]="passwordControl"
          type="email"
          name="email"
          id="email"
          placeholder="krisi@gmail.com"
          
          required
        />
      </p>

      #inputEmail = "ngModel"
          ngModel -->

<!-- <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
            Username is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
            Username is not valid!
        </p>
    </ng-container>

      <p>
        <label for="password"></label>
        <i class="fa fa-cloud"></i>
        <input
        matInput
        [formControl]="passwordControl"
          type="password"
          name="password"
          id="password"
          placeholder="*****"
          
          
          required
        />
      </p>
      ngModel
          #inputPassword = "ngModel"

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
            Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['appEmailValidator']">
            Username is not valid!
        </p> 
    </ng-container>

      <button (click)="loginWithEmailAndPassword()" [disabled]="form.invalid">Login</button>

      <p class="no-account">
        Don't have an account?
        <button>Register</button>
      </p>

      <div (click)="loginWithGoogle()">
        <app-login-with-google></app-login-with-google>
      </div>
    </fieldset>
  </form>
</div> -->

<div class="login-container">
    <div class="login-content">
      <p class="title">Forgotten Password</p>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" type="text" />
      </mat-form-field>
  
  
      <button class="forgot-label" (click)="sendLink()">Send</button>
  
      <p class="alternative">Back to Login?</p>
      <button>Login</button>
  
      
    </div>
  </div>
  